@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-image: url("cocina.gif");
  background-repeat: repeat;
  text-shadow: 1px 1px 2px rgb(150, 150, 150);
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: #918274;
}

.selection {
  padding: 5px;
  border: 8px solid rgba(252, 232, 208, 0.56);
  border-radius: 1px;
  text-align: center
  /* the white border's for spacing*/
}

.category {
  padding: 5px;
}

.container {
  background-color: #C0C0C0;
  background-color: #f2ebe3;
  box-shadow: 10px 10px 5px rgba(56, 29, 42, 0.50);
  border-radius: 5px;
  padding: 5px;
}

.list-group {
  color: black;
}

.picture {
  text-shadow: 1px 1px 1px black;
  text-align: justify;
  color: white;
  display: inline-block;
  background-position: center;
  width: 350px;
  height: 150px;
  box-shadow: 2px 2px 2px black;
}

.picture-1 {
  background-image: url("breakfast.jpg");
}

.picture-2 {
  background-image: url("lunch.jpg");
}

.picture-3 {
  background-image: url("dinner.jpg");
}

.picture-4 {
  background-image: url("dessert.jpg");
}

.picture-5 {
  background-image: url("smoothies.jpg");
}

.picture-6 {
  background-image: url("cocktails.jpg");
}

.picture-7 {
  background-image: url("appetizers.jpg");
}

.picture-8 {
  background-image: url("vegan.jpg");
}

.picture-9 {
  background-image: url("vegetarian.jpg");
}

$bgDefault: #381d2a;
$bgHighlight: #ba5624;
$colDefault: #ecf0f1;
$colHighlight: #eee7da;
$dropDown: false;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover,
    &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover,
        &:focus {
          color: $colHighlight;
        }
      }
    }
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover,
          &:focus,
          &.active {
            color: $colHighlight;
            background-color: $bgHighlight;
          }
        }
        .dropdown-divider {
          background-color: $bgHighlight;
        }
      }
    }
    .nav-item.active,
    .nav-item.show {
      .nav-link,
      .nav-link:hover,
      .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover,
    &:focus {
      background-color: $bgHighlight;
    }
    .navbar-toggler-icon {
      color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}

@media (max-width: 767px) {
  .picture {
    width: 315px;
  }
  .navbar .navbar-nav .open .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover,
      &:focus {
        color: $colHighlight;
      }
    }
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight;
    }
  }
}