@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: #FCDE9C;
}

.category {
  padding: 25px;
  border: 2px solid #ED7D3A;
  border-radius: 3px;
  /* the white border's for spacing*/
}

body {
  background-image: url("cocina.gif");
  background-repeat: repeat;
}

.container {
  color :gainsboro;
  background-color: #381D2A;
  box-shadow: 10px 10px 5px #BA5624;
  border-radius: 5px;
}

.list-group {
  color: black;

}
