@import "bootstrap-sprockets";
@import "bootstrap";

.category {
  padding: 25px;
  border: 2px solid white;
  /* the white border's for spacing*/
}

body {
  background-image: url("cocina.gif");
  background-repeat: repeat;
}

.container {
  background-color: gainsboro;
  box-shadow: 10px 10px 5px gray;
  border-radius: 5px;
}
