<h1 class="text-center">What type of recipe are you lookin' for?</h1>
  <div class="row text-center">
  <% @categories.each do |category| %>
  <div class="col-lg-4 category" >
   <%= link_to "#{category.name}", category_path(category), class: "picture-#{category.id} picture" %>
  </div>
  <% end %>
  </div>



