<h1 class="text-center">Recipe Box</h1>
<div class="container bg-primary">
  <div class="row text-center">
  <div class="col-md-4 category">Word!</div>
  <div class="col-md-4 category">Word!</div>
  <div class="col-md-4 category">Word!</div>
  </div>
</div>

<div class="container bg-success">
  <div class="row text-center">
  <div class="col-md-4 category">Word!</div>
  <div class="col-md-4 category">Word!</div>
  <div class="col-md-4 category">Word!</div>
  </div>
</div>
